<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>EFIBluetoothDelay</key>
			<data>
			uAs=
			</data>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			QA==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			AA==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			AQASCgAAACAxFAAafdpxEw==
			</data>
			<key>boot-args</key>
			<string>keepsyms=1 darkwake=8 dart=0 silde=1 alcid=1 -no_compat_check</string>
			<key>bootercfg</key>
			<data>
			bG9nPTAgZGVidWc9MCBsZXZlbD0wAA==
			</data>
			<key>csr-active-config</key>
			<data>
			5wMAAA==
			</data>
			<key>efi-boot-device</key>
			<data>
			Jmx0O2FycmF5Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7SU9N
			YXRjaCZsdDsva2V5Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7
			SU9Qcm92aWRlckNsYXNzJmx0Oy9rZXkmZ3Q7Jmx0O3N0cmluZyZn
			dDtJT01lZGlhJmx0Oy9zdHJpbmcmZ3Q7Jmx0O2tleSZndDtJT1By
			b3BlcnR5TWF0Y2gmbHQ7L2tleSZndDsmbHQ7ZGljdCZndDsmbHQ7
			a2V5Jmd0O1VVSUQmbHQ7L2tleSZndDsmbHQ7c3RyaW5nJmd0O0JC
			RTEyNzVDLUQ1QTctNEMzRC05RjhDLTRCMzc2NDM2ODAxRCZsdDsv
			c3RyaW5nJmd0OyZsdDsvZGljdCZndDsmbHQ7L2RpY3QmZ3Q7Jmx0
			O2tleSZndDtCTExhc3RCU0ROYW1lJmx0Oy9rZXkmZ3Q7Jmx0O3N0
			cmluZyZndDtkaXNrNXMyJmx0Oy9zdHJpbmcmZ3Q7Jmx0Oy9kaWN0
			Jmd0OyZsdDtkaWN0Jmd0OyZsdDtrZXkmZ3Q7SU9FRklEZXZpY2VQ
			YXRoVHlwZSZsdDsva2V5Jmd0OyZsdDtzdHJpbmcmZ3Q7TWVkaWFG
			aWxlUGF0aCZsdDsvc3RyaW5nJmd0OyZsdDtrZXkmZ3Q7UGF0aCZs
			dDsva2V5Jmd0OyZsdDtzdHJpbmcmZ3Q7XDEzNzYyRUMyLUNGMzkt
			NEEwQS1BNUNDLTVCMzYyOTIwQjU4N1xTeXN0ZW1cTGlicmFyeVxD
			b3JlU2VydmljZXNcYm9vdC5lZmkmbHQ7L3N0cmluZyZndDsmbHQ7
			L2RpY3QmZ3Q7Jmx0Oy9hcnJheSZndDsA
			</data>
			<key>efi-boot-device-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAXAxIKAAQAAAAAAAQBKgACAAAAKEAG
			AAAAAADgHzI6AAAAAAVsz0/zeAdEtaMWU1/nEJgCAgQDJAD3/HS+
			fAvzSZFHAfQELmhCXCfhu6fVPUyfjEs3ZDaAHQQEmgBcADEAMwA3
			ADYAMgBFAEMAMgAtAEMARgAzADkALQA0AEEAMABBAC0AQQA1AEMA
			QwAtADUAQgAzADYAMgA5ADIAMABCADUAOAA3AFwAUwB5AHMAdABl
			AG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkA
			YwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
			</data>
			<key>fmm-computer-name</key>
			<data>
			aU1hYw==
			</data>
			<key>nvda_drv</key>
			<data>
			MQ==
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
